div{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    position: absolute;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s; */
    /* transition: all 2s ease-in 0.5s; */
    top: 100px;
    left: 100px;
    /* transform: rotate(45deg); 
    rotate: z 360deg; */
    /* transform: scale(2); */
    /* transition: all 2s ease-in; */
    /* animation-name: colorAnimate;
    animation-duration: 0.25s;
    animation-timing-function: ease-in;
    animation-delay: 0.5s;
    animation-iteration-count: infinite; */
    /* animation-name: colorAnimate;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal; */
} 

@keyframes positionAnimate{
    from{left: 0px;}
    to{left: 200px;}
}

@keyframes colorAnimate{
    /* from */
    0%{
        left: 0px; 
        background-color: aquamarine;
    }
    50%{
        background-color: blue;
    }
    /* to{ */
    100%{
        left: 200px;
        background-color: red;
        color: white;
    }
}

div:hover{
    /* background-color: red;
    color: white;
    font-size: 20px; */
    /* transform: scale(2); */
    /* rotate: 45deg; */
    /* transform: translate(200px); */
    /* transform: translateX(400px); */
    /* transform: translateY(40px); */
    /* transform: skew(90deg); */
}

div:active{
    background-color: pink;
    color: black;
}