*{
    padding: 0;
    margin: 0;
}

#nav{
    height: 60px;
    background-color: black;
}

a{
    color: white;
    margin: 70px;
    text-decoration: none;
}

button{
    background-color: orange;
    color: white;
}

#logo{
    color: orange;
    font-size: 25px;
}