/* #one{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-color: black;
    border-style: groove;
     border-radius: 15px; 
     border-radius: 50%; 
     text-align: center; 
    padding: 25px;
    margin: 25px;
} */
/* 
h1{
    height: 50px;
    width: 115px;
    background-color: aquamarine;
    /* border-width: 2px;
    border-color: blue;
    border-style: dotted; 
    border: 2px blue dotted;
}
*/

#box1{
    height: 100px;
    width: 100px;
    background-color: red;
    /* background-color: rgba(0,0,255,0.25); */
    display: inline-block;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: blue;
    /* background-color: rgba(0,0,255,0.5); */
    display: inline-block;
    /* display: none; */
    /* visibility: hidden; */
}

#box3{
    height: 100px;
    width: 100px;
    background-color: green;
    /* background-color: rgba(0,0,255,1); */
    display: inline-block;
}