#one{
    height: 100px;
    width: 100px;
    background-color: pink;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    /* border-radius: 15px; */
    /* border-radius: 50%; */
    /* text-align: center; */
    padding: 25px;
    margin: 25px;
}
/* 
h1{
    height: 50px;
    width: 115px;
    background-color: aquamarine;
    /* border-width: 2px;
    border-color: blue;
    border-style: dotted; 
    border: 2px blue dotted;
}
*/