/* body{
    text-align: center;
}

div{
    height: 200px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 1000px;
    height: 600px;
    display: flex;

    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: nowrap; */

    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */

    /* align-content: center; */
    /* align-content: flex-start; */
    /* align-content: flex-end; 
}

#box1{
    background-color: aqua;
    /* flex-grow: 1; 
}

#box2{
    background-color: pink;
    /* align-self: flex-end; */
    /* flex-grow: 2; */
    /* flex-shrink: 2; 
}

#box3{
    background-color: darkkhaki;
}

#box4{
    background-color: indianred;
    /* width: 400px; 
}

#box5{
    background-color: slateblue;
    /* width: 400px; 
} */

div{
    background-color: pink;
    height: 100px;
    width: 100px;
}

/* @media(width:700px){
    div{
        background-color: blue;
    }
}

@media(min-width:500px){
    div{
        background-color: brown;
    }
}

@media(max-width:500px){
    div{
        background-color: aquamarine;
    }
} */

/* @media(min-width:200px) and (max-width:300px){
    div{
        background-color: blueviolet;
    }
} */