*{
    padding: 0;
    margin: 0;
}

header{
    height: 60px;
    background-color: black;
    margin: 70px;
    a{
        color: white;
        margin: 70px;
        text-decoration: none;
    }
    #logo{
        font-size: 25px;
        color: orange;
    }
    button{
        background-color: orange;
        color: white;
    }
}

 #one{
    border: solid;
    border-color: brown;
    background-color: rgba(0,255,255,0.5);
    height: 100px;
    width: 100px;
    display: inline-block;
 }
#two{
     border:solid;
     height: 100px;
     width: 100px;
     background-color: rgba(138,46,226,0.5);
     border-color: yellow;
    display: inline-block;
}
#three{
    height: 100px;
    width: 100px;
    border: solid;
    background-color: rgba(152,251,152,0.5);
    border-color: turquoise;
    display: inline-block;
}

footer{
    background-color: darkblue;
    color: white;
}
